// =============================================================================
// :: Heading
// =============================================================================
/**
 * Heading styles defined to give any component the possibility to extend from
 * a certain style. When an element uses the same styling as a heading, this
 * does not mean it is a H1-H6.
 */

// =============================================================================
// :: H1
// =============================================================================
@mixin extend-h1-base() {
	font-family: $font-family-primary;
	font-weight: $font-weight-bold;
	font-size: $font-size-3x-extra-large;
}

// =============================================================================
// :: H2
// =============================================================================
@mixin extend-h2-base() {
	font-family: $font-family-primary;
	font-weight: $font-weight-ultrabold;
	font-size: $font-size-2x-large;
}

// =============================================================================
// :: H3
// =============================================================================
@mixin extend-h3-base() {
	font-family: $font-family-primary;
	font-weight: $font-weight-ultrabold;
	font-size: $font-size-base;
}

// =============================================================================
// :: H4
// =============================================================================
@mixin extend-h4-base() {
	font-family: $font-family-primary;
	font-weight: $font-weight-ultrabold;
}

// =============================================================================
// :: H5
// =============================================================================
@mixin extend-h5-base() {
	font-family: $font-family-primary;
	font-weight: $font-weight-normal;
}

// =============================================================================
// :: H6
// =============================================================================
@mixin extend-h6-base() {
	font-family: $font-family-primary;
	font-weight: $font-weight-normal;
}
