// =============================================================================
// :: Icon
// =============================================================================
@mixin extend-icon-base($width: 2.4rem, $height: 2.4rem, $fill: $primary-color) {
	width: $width;
	height: $height;

	fill: $fill;
}
